<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
<header>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>Marvel Comics</strong>
      </a>
    </div>
  </div>
</header>

<main role="main" *ngIf="showList">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">List of Marvel Comics</h1>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label>Sort</label>
            <select
              [(ngModel)]="filterParam"
              (change)="applyFilter(filterParam)"
              class="form-control"
            >
              <option selected value="AtoZ">A-Z</option>
              <option value="ZtoA">Z-A</option>
              <option value="random">Randomize</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div
          *ngFor="
            let item of listComics
              | paginate: { itemsPerPage: 10, currentPage: p }
          "
          class="col-6"
        >
          <div class="card">
            <img
              [src]="
                item.thumbnail.path +
                '/landscape_xlarge.' +
                item.thumbnail.extension
              "
              class="card-img-top"
              alt="{{ item.title }}"
            />
            <div class="card-body">
              <h5 class="card-title">{{ item.title }}</h5>
              <p class="card-text text-truncate">{{ item.description }}</p>
              <a
                style="cursor: pointer; color: white;"
                (click)="showComicDetail(item.id)"
                class="btn btn-primary"
                >Details</a
              >
            </div>
          </div>
          <br />
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</main>

<main role="main" *ngIf="showDetail">
  <div class="album py-5 bg-light">
    <div class="container">
      <button (click)="backToComicList()" class="btn btn-secondary">
        Back to list
      </button>
      <br />
      <br />
      <br />
      <div class="row">
        <div class="col-12">
          <div class="card">
            <img
              [src]="
                detailComic.thumbnail['path'] +
                '.' +
                detailComic.thumbnail.extension
              "
              class="card-img-top"
              alt="{{ detailComic.title }}"
            />
            <div class="card-body">
              <h5 class="card-title">{{ detailComic.title }}</h5>
              <div
                class="card-text"
                [innerHTML]="detailComic.description"
              ></div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">ISBN : {{ detailComic.isbn }}</li>
              <li class="list-group-item">
                Series : {{ detailComic.series.name }}
              </li>
              <li class="list-group-item">
                Price : ${{ detailComic.prices[0].price }}
              </li>
              <li class="list-group-item">
                Creators :
                <ul>
                  <li *ngFor="let item of detailComic.creators.items">
                    {{ item.name }} | {{ item.role }}
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
